<p>
  timesheet works!
</p>
<p>Select Employee
<select>
  <option></option> 
  </select></p>
<table class="table">
  <tr>
      <th>Task Name</th>
      <th>Sunday</th>
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
      <th>Saturday</th>
  </tr>

</table>
